h1 {
  color: var(--primary-color);
}

.signin-form {
  width: 25%;
  margin: auto;
  border-radius: 0.5rem;
  padding: 1.5rem 3rem 3rem 3rem;
  box-shadow: 0px 0px 12px #00000029;
}

.signin-form h2 {
  margin-top: 0;
  font-weight: 250;
  color: var(--primary-color);
}

.signin-form label {
  display: inline-block;
  width: 120px;
  text-align: left;
  margin-right: 1rem;
}

.signin-form input {
  padding: 0.75rem;
  border-width: 1px;
}

.signin-form .email {
  margin-bottom: 1rem;
}

.signin-form .input-field {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.signin-form button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  border-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}
